.loginscreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/4a9270dc-7a97-44da-bda4-4dfc2dd4ea20/IN-en-20210201-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat;
  background-size: cover;
}
.loginscreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: 0;
  outline: 0;
  font-weight: 600;
  cursor: pointer;
}
.loginscreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}
.loginscreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginscreen__body {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
}
.loginscreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.loginscreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  font-weight: 400;
}
.loginscreen__body > h3 {
  font-weight: 400;
}
.loginscreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 31px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.loginscreen__input {
  margin: 20px;
}
.loginscreen__getstarted {
  padding: 15px 20px;
  padding-bottom: 17.5px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  outline: none;
  z-index: 1;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .loginscreen__body {
    top: 20%;
  }
  .loginscreen__body > h2 {
    display: none;
  }
  .loginscreen__body > h3 {
    display: none;
  }
  .loginscreen__input > form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .loginscreen__input > form > input {
    width: 93%;
    margin-bottom: 1rem;
  }
  .loginscreen__getStarted {
    margin-left: 1px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .loginscreen__body > h1 {
    font-size: 2.5rem;
  }
}
